@import 'github-markdown-css/github-markdown.css'
$assets-path: '/assets/hero' !default

@function asset_url($res)
  @return url(#{$assets-path + '/' + $res})

body
  background: asset_url('bg.png')
  background-color: beige
