$step: .1s

\:host
  display: flex
  flex-flow: column
  .tabs
    text-align: left
    display: flex
    align-items: flex-end
    height: 42px
    z-index: 20
  .tab
    flex: 1
    padding: 8px 20px
    display: inline-block
    box-shadow: 0 -3px 4px rgba(1,1,1,.1)
    background: var(--c-w-d)
    color: var(--c-bl-bb)
    font:
      size: 20px
    text-decoration: none
    transition: padding $step cubic-bezier(0, 0.82, 0, 1.01), box-shadow $step ease-in, border-radius $step ease-in-out, background $step ease-in
    &:first-child
      border-top-left-radius: 5px
    &:last-child
      border-top-right-radius: 5px
    &.on
      background: var(--c-w-o)
      padding: 14px 20px
      box-shadow: 0 -3px 4px rgba(1,1,1,.3)
      border-radius: 5px 5px 0 0
      color: var(--c-bl)
      font:
        weight: 700
      z-index: 30
  .box
    flex: 1
    position: relative
    display: block
    box-shadow: 0 3px 4px var(--c-bl-bbbb)
    border-radius: 3px
    background: var(--c-w-o)
    padding: 20px
    text-align: left
    overflow: auto
    z-index: 50

